<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WishList</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link type="text/css" rel="stylesheet" href="../bundle/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="./bundle/bundle.css">
</head>
<body>
