<% include partials/header.ejs %>

<div class="bg">
  <nav >
    <div class="nav-wrapper z-depth-5">
      <a href="#" class="brand-logo center">Wi$hList</a>
      <a id="faq" class="waves-effect waves-light btn modal-trigger" href="#modal3"><i class="material-icons">assignment_ind</i></a>
      <a id="logout" href ="/logout" class="waves-effect waves-light btn"><i class="material-icons">exit_to_app</i></a>
    </div>
  </nav>

  <div id="guide">
    <div id="modal3" class="modal">
      <div class="modal-content">
         <a class="close-btn-two modal-action modal-close"><i class="material-icons">clear</i></a>
        <ul id="faq-list">
          <li><h2>Hello <span class="user-name"><%= user.username %></span>,</h2></li>
          <li>Welcome to <span class="wish-title">wi$hList</span>, a smart budgeting tool that calculates how much you need to save a day to be able to buy a desired item</li>
          <li>1. Begin by adding a new item. You will need to pick a start date and a desired date for the added item</li>
          <li>2. Tap on the newly added item on your wi$hList and you will be provided with the amount needed to save each day to afford that item</li>
          <li>3. Once you have successfully purchased an item you can mark it as done by selecting <a class="btn-floating green"><i class="material-icons">done</i></a></li>
          <li>4. You can undo this action by selecting <a class="btn-floating light-blue lighten-3"><i class="material-icons">autorenew</i></a> </li>
          <li>5. You can also choose to delete any item by selecting <a class="btn-floating red"><i class="material-icons">delete</i></a> </li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><span class="agree">GET STARTED</span></a>
      </div>
    </div>
  </div>

  <div class="container-one">
   <!-- Modal Structure -->
     <div id="modal1" class="modal bottom-sheet">
       <div class="modal-content">
           <a class="close-btn-two modal-action modal-close"><i class="material-icons">clear</i></a>
         <h2>Add Item</h2>
           <form id="add-form" action="/add" method="post">

            <div class="input-field col s6">
              <input required="" aria-required="true" class="validate" readonly="true" type="text" id="datepickerone" name="date" placeholder="Created Date">
            </div>

            <div class="input-field col s6">
               <input required="" aria-required="true" class="validate" readonly="true" type="text" id="datepickertwo" name="date" placeholder="Desired Date">
            </div>

            <div class="input-field col s6">
               <input required="" aria-required="true" class="validate" type="text" id="item-price" placeholder="Price">
            </div>

            <div class="input-field col s6">
               <input required="" aria-required="true" class="validate" type="text" id="item-name" placeholder="Item Name">
            </div>


            <div class="input-field col s6">
               <input required="" aria-required="true" class="validate" type="text" id="item-image" placeholder="Image Url">
            </div>

       </div>
       <div class="modal-footer">
         <button id="add-btn" class="modal-action modal-close waves-effect waves-green btn-flat"><span class="agree">Add</span></button>
       </form>
       </div>
     </div>
  </div>

  <div class="container-two">
    <div id="unique-item" class="row">

      <div class="bubble col s4 m4 l4 center-align"><a href="#modal1" class="z-depth-5 adding modal-trigger btn-floating btn-large waves-effect waves-purple"><i id="add" class="material-icons">add</i></a>
      <div></div>
      </div>

<% if (items.length !== 0) { %>

  <% include _items.ejs %>
    </div>
  </div>
<% } %>
</div>

<% include _handlebars.ejs%>
<% include partials/footer.ejs %>
