body {
  color:white;
  background-color: $baby-blue;
}

.bg {
  background: linear-gradient(to bottom right, $purple, $teal-light);
  height:auto;
  min-height:100vh;
}

.nav-wrapper {
  background-color: $purple;
}

.logins {
  height:100vh;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    color:white;
  }

  form {
    background-color:rgba(0,0,0,0.2);
    color:white;
  }

  .modal {
    background-color:rgba(0,0,0,0.0);
  }

  .input-field label {
    top: 0.5rem;
  }

  #login-form {
    // display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 0 0 1em 1em;
    background-color: rgba(0,0,0,0);

  }

  #sign-up-form {
    // display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin: 0 1em 1em 0;
    background-color: rgba(0,0,0,0);
  }

  #center-logo {
    img {
      border:5px solid white;
      margin:5em 0 1em 0;
    }

    color:white;

    position:absolute;
    top:40%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .submit-btn {
    margin-bottom:1.5em;
    background-color: $hot-pink;
  }

}


#logout {
  float:right;
  top:18%;
  padding-top:0em;
  background-color:$teal-light;

  i {
    line-height:39px;
  }
}

#faq {
  background-color:$teal-light;
  i {
    line-height:39px;
  }
}

#guide {
  .open {
    top:6% !important;
  }
}

#faq-list {
  margin-top:2em;
  .user-name {
    font-weight: bold;
    color:$hot-pink;
  }

  .wish-title {
    font-weight: bold;
    color:$teal-light;
  }


  li {
    margin-bottom:1em;
  }
}

.modal-content {
  color:black;
  h2 {
    margin-bottom:1em;
  }
}

.modal-footer {
  .btn-floating.btn-large {
      width: 50.5px;
      height: 50.5px;
      border-radius:50%;
  }
}

.agree {
  color:$teal-light;
  font-weight:bold;
}

.item-name-list {
  color:white;
  font-weight:bold;
}

.btn-floating:hover {
    background-color: #b39ddb;
}

.adding {
  border-style:dashed;
  border-color: $hot-pink;
  background-color:rgba(0,0,0,0);
  i {
    color:white;
    padding:0.3em 0.1em 0 0;
    font-size:2.5em;
  }

}

.container-one {
  h2 {
    color:$hot-pink;
    font-weight:bold;
  }

  .modal {
    max-height: 100% !important;
  }
}

.bubble {
  margin-top: 4em;
}

.btn-floating.btn-large {
    width: 80.5px;
    height: 80.5px;
    border-radius:20%;
}

.item-list {
  text-align:center;
  li {
    list-style:none;
    margin-top:0.5em;
  }
}

#close-btn {
  position:relative;
  left:45%;
  color:$teal-light;
}

.close-btn-two {
  float:right;
  color:$teal-light;
}

.close-btn-three {
  margin:1em 1.2em 0 0;
  float:right;
  color:$teal-light;
}

#modal3 {
  color:black;
}

#unique-item {
  margin:0;
  color:black;
  img {
      height: 10em;
      width:15em;
  }

  li {
    img {
      height:auto;
      max-width:100%;
      margin:0 auto;
    }

    .price-amount{
      font-weight:bold;
      color:$hot-pink;
    }

  }

  .price-list{
    border:3px solid $teal-light;
    border-radius:10px;
    background-color:$baby-blue;
    color:$desat-blue;
  }

  .open {
    top:5% !important;
  }

  .done-color {
    border:5px solid #6ECADC;
    img {
      opacity:0.4;
    }
  }

  .done-tick {
    position: absolute;
    z-index: 1;
    color: $hot-pink;
    font-size: 4em;
    top: 10%;
    left:-7%;
  }

  .menu-icon {
    background-color:$hot-pink;
  }

}

.fixed-action-btn {
  position: relative;
  bottom:16px;
}

.done-btn {
  background-color:$teal-light;
}

//iphone 6
@media screen and (device-aspect-ratio: 375/667) {

  .modal {
    max-height: 90% !important;
  }

  .fixed-action-btn {
    position: relative;
    bottom:16px;
  }
}

//iphone 5
@media screen and (device-aspect-ratio: 40/71) {

  .modal {
    max-height: 90% !important;
  }

  .fixed-action-btn {
    position: relative;
    bottom:16px;
  }

}

//desktop view
@media screen and (min-width: 767px) {

  .item-list {
    text-align:center;
    img.responsive-img, video.responsive-video {
      max-width: 50%;
      height: auto;
    }
  }

  #logout {
    top:23%;
  }
}
