/* apply a natural box layout model to all elements,
   but allow overriding */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none; }

input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #e4186e;
  box-shadow: 0 1px 0 0 #e4186e; }

.input-field label.active {
  color: #49c29c; }

input[type=text].valid, input[type=email].valid, input[type=password].valid {
  border-bottom: 1px solid #49c29c;
  box-shadow: 0 1px 0 0 #49c29c; }

.logins .input-field .prefix.active {
  color: #e4186e; }

.logins .input-field .prefix {
  color: white; }

body {
  color: white;
  background-color: #e3f2fd; }

.bg {
  background: -webkit-linear-gradient(top left, #401240, #49c29c);
  background: linear-gradient(to bottom right, #401240, #49c29c);
  height: auto;
  min-height: 100vh; }

.nav-wrapper {
  background-color: #401240; }

.logins {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logins .modal-content {
    color: white; }
  .logins form {
    background-color: rgba(0, 0, 0, 0.2);
    color: white; }
  .logins .modal {
    background-color: transparent; }
  .logins .input-field label {
    top: 0.5rem; }
  .logins #login-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 0 8em 1em;
    background-color: transparent; }
  .logins #sign-up-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0 1em 8em 0;
    background-color: transparent; }
  .logins #center-logo {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
    .logins #center-logo img {
      border: 5px solid white;
      margin: 5em 0 1em 0; }
  .logins .submit-btn {
    margin-bottom: 1.5em;
    background-color: #e4186e; }

#logout {
  float: right;
  top: 18%;
  padding-top: 0em;
  background-color: #49c29c; }
  #logout i {
    line-height: 39px; }

#faq {
  background-color: #49c29c; }
  #faq i {
    line-height: 39px; }

#guide .open {
  top: 6% !important; }

#faq-list {
  margin-top: 2em; }
  #faq-list .user-name {
    font-weight: bold;
    color: #e4186e; }
  #faq-list .wish-title {
    font-weight: bold;
    color: #49c29c; }
  #faq-list li {
    margin-bottom: 1em; }

.modal-content {
  color: black; }
  .modal-content h2 {
    margin-bottom: 1em; }

.modal-footer .btn-floating.btn-large {
  width: 50.5px;
  height: 50.5px;
  border-radius: 50%; }

.agree {
  color: #49c29c;
  font-weight: bold; }

.item-name-list {
  color: white;
  font-weight: bold; }

.btn-floating:hover {
  background-color: #b39ddb; }

.adding {
  border-style: dashed;
  border-color: #e4186e;
  background-color: transparent; }
  .adding i {
    color: white;
    padding: 0.3em 0.1em 0 0;
    font-size: 2.5em; }

.container-one h2 {
  color: #e4186e;
  font-weight: bold; }

.container-one .modal {
  max-height: 100% !important; }

.bubble {
  margin-top: 4em; }

.btn-floating.btn-large {
  width: 80.5px;
  height: 80.5px;
  border-radius: 20%; }

.item-list {
  text-align: center; }
  .item-list li {
    list-style: none;
    margin-top: 0.5em; }

#close-btn {
  position: relative;
  left: 45%;
  color: #49c29c; }

.close-btn-two {
  float: right;
  color: #49c29c; }

.close-btn-three {
  margin: 1em 1.2em 0 0;
  float: right;
  color: #49c29c; }

#modal3 {
  color: black; }

#unique-item {
  margin: 0;
  color: black; }
  #unique-item img {
    height: 10em;
    width: 15em; }
  #unique-item li img {
    height: auto;
    max-width: 100%;
    margin: 0 auto; }
  #unique-item li .price-amount {
    font-weight: bold;
    color: #e4186e; }
  #unique-item .price-list {
    border: 3px solid #49c29c;
    border-radius: 10px;
    background-color: #e3f2fd;
    color: #2d333a; }
  #unique-item .open {
    top: 5% !important; }
  #unique-item .done-color {
    border: 5px solid #6ECADC; }
    #unique-item .done-color img {
      opacity: 0.4; }
  #unique-item .done-tick {
    position: absolute;
    z-index: 1;
    color: #e4186e;
    font-size: 4em;
    top: 10%;
    left: -7%; }
  #unique-item .menu-icon {
    background-color: #e4186e; }

.fixed-action-btn {
  position: relative;
  bottom: 16px; }

.done-btn {
  background-color: #49c29c; }

@media screen and (device-aspect-ratio: 375 / 667) {
  .modal {
    max-height: 90% !important; }
  .fixed-action-btn {
    position: relative;
    bottom: 16px; } }

@media screen and (device-aspect-ratio: 40 / 71) {
  .modal {
    max-height: 90% !important; }
  .fixed-action-btn {
    position: relative;
    bottom: 16px; } }

@media screen and (min-width: 767px) {
  .item-list {
    text-align: center; }
    .item-list img.responsive-img, .item-list video.responsive-video {
      max-width: 50%;
      height: auto; }
  #logout {
    top: 23%; } }
